<!DOCTYPE html>
<html>
<head>
    <script src="/js/jq2.1.3.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/img/inj.png"/>
    <style>
        body {
            padding-top: 70px;
        }
    </style>
    <title>SQL History</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        {% block navbar %}
            <!-- navbar -->
        {% endblock %}
     </div>
</nav>

{% block body %}
    <!-- body -->
{% endblock %}

</body>

</html>