<head>
<script src="../../js/jq2.1.3.js"></script>
<style>
li {
	margin-bottom: .5em;
	margin-right: .8em;
	border: .1em solid;
	width: 60vw;
	display: flex;
	justify-content: space-around;
	font-size: 1.3em;
	padding: .5em;
	background: #2345AC;

}
a {
	text-decoration: none;
	color: #cdcdcd;
	
	display: none;
}
</style>
</head>
<ul style='list-style-type: none; padding: 0; display: flex; align-items: center; flex-direction: column;'>
{% for item in all %}
<a href="/silex/{{id}}/ip/{{item.ip}}">
<li>
<span style="font-size: 1.3em;">{{item.ip}}</span>
<span>{{item.licznik}}</span>
</li>
</a>
{% endfor %}
</ul>

<script>

var max = $("ul li").length;
var i=0;
function petla() {
	if(i++ < max) setTimeout(function() {
		$("ul a:nth-child("+i+")").fadeIn(90);
		petla();
	}, 100);
}
petla();
</script>
