<head>
<script src="../../js/jq2.1.3.js"></script>
<link rel="stylesheet" href="../../css/bootstrap.min.css"/>
<script src="../../js/bootstrap.min.js"></script>
</head>
<div class="list-group">
{% if id==1 %}
<div class="alert alert-success" role="alert" style="display: flex; justify-content: space-between;">
<span id="head_t"><b>mySQL Injection #1</b> Lista unikalnych wizyt</span>
<span style='font-weight: 600;'>Liczba pr&#xF3;b</span></div>
{% endif %}

{% if id==2 %}
<div class="alert alert-info" role="info" style="display: flex; justify-content: space-between;">
<span id="head_t"><b>mySQL Injection #2</b> Lista unikalnych wizyt</span>
<span style='font-weight: 600;'>Liczba pr&#xF3;b</span></div>
{% endif %}

{% if id==3 %}
<div class="alert alert-warning" role="warning" style="display: flex; justify-content: space-between;">
<span id="head_t"><b>mySQL Injection #3</b> Lista unikalnych wizyt</span>
<span style='font-weight: 600;'>Liczba pr&#xF3;b</span></div>
{% endif %}

{% for item in all %}
<a href="/silex/{{id}}/ip/{{item.ip}}" class="list-group-item" style="display: none; justify-content: space-between;">

<span style="font-size: 1.3em;">{{item.ip}}</span>
<span class="badge">{{item.licznik}}</span>

</a>
{% endfor %}
</div>

<script>

var i=0;
$("#head_t").html($("#head_t").html()+": "+$("a").length);
function petla() {
	if(i++ < $("a").length) setTimeout(function() {
		$("a:nth-child("+i+")").css('display', 'flex').hide().fadeIn(380);
		petla();
	}, 80);
}
petla();
</script>
